.botao {
    background-color: #FF8A29;
    box-shadow: 7px 7px 15px rgba(196, 185, 36, 0.8);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.botao:hover {
    color: #FFD700;
}