.lista-suspensa {
    margin: 24px 0;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 7px 7px 15px rgba(196, 185, 36, 0.8);
    width: 100%;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}